/* You can add global styles to this file, and also import other style files */
.invalid-feedback {
    color: red;
}

.bg {
    /* The image used */
	background-image: url("assets/images/grey-background.jpg");
	
    /* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-header {
    color: black;
}